/*External Style Sheet*/
@import url('https://fonts.googleapis.com/css?family=Tratatello);

* {
  margin: 20;
  padding: 0;
}

/*Type Selectors*/
header {
  text-align:center;
  background-color: #8dc9b4;
  color: #ffffff;
  border-bottom: 5px solid #ffb4b4;
}

a {
  color: #000000;
}

body {
  background-color: #e8f5ff;
  font-family: "Palatino", serif;
  font-size: 20px;
  margin-top: 120px;
}

h1 {
  position: absolute;
  top: 0px; left: 50px;
  font-family: "Tratatello", fantasy;
}

table, th, td {
  border: 1px solid black;
}

footer {
  font-size: 13px;
  color: #ffffff;
  background-color: #8dc9b4;
  text-align: right;
  border-top: 5px solid #ffb4b4;
}

ul, ol {
  margin-left: 3%;
}

/*Class Selectors*/
.fixed-header {
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.button-detail {
  text-decoration: none;
  color: #ffffff;
  padding: 2px 4px 2px 4px;
  font-size: 20px;
  margin: 10px;
  border-top: 2px solid #ffe0e0;
  border-right: 2px solid #ffe0e0;
  border-bottom: 2px solid #ffe0e0;
  border-left: 2px solid #ffe0e0;
}

.body-detail {
  text-align: center; 
}

.left-position {
  float: left;
  padding: 0;
  margin-right: 25px;
  margin-left: 25px;
}

.right-position {
  position: relative;
  left: 75px;
  padding: 0;
}

/*ID Selectors*/
#header-details {
  font-family: "Palatino", serif;
  position: relative;
  top: -10px; left: 30px;
}

#img-detail {
  border:1px solid #cecece
}

#data-background {
  background-color: #fff2f2;
}

#caption-font {
  font-size: 14px;
}

/*Attribute Selectors*/
a [href="https://www.ucvts.tec.nj.us"]
a [href="https://www.ucvts.tec.nj.us/Page/471"] {
  font-style: italic;
}

/*Pseudo-Type Selectors*/
a:hover {
  color: #c4c4c4;
  font-weight: bold;  
}

/*Combinators*/
header a {
  color: #ffffff;
  /*change font size in .button-detail*/
}

p a {
  color: #000000;
}
